</div>
<!-- font awesome -->
<script src="https://kit.fontawesome.com/4e2fbf1e4f.js" crossorigin="anonymous"></script>

<footer class="white-section" id="footer">
  <div class="container-fluid">
<i class="socials fab fa-twitter"></i>
<i class="socials fab fa-facebook-f"></i>
<i class="socials fab fa-instagram"></i>
<!-- <i class="fas fa-envelope"></i> -->
    <p>© Copyright 2023 MentorMe</p>
</div>
  </footer>


</body>

</html>
