<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MentorMe</title>
</head>
<body>
    <div>{{question.title}}</div>
    <form action="{% url 'answer' question.id %}" method="POST" id="answer_form">
        {% csrf_token %}
        <br>
        <div><textarea rows="4" cols="50" name="content" form="answer_form"></textarea></div>
        <br>
        <div><input type="submit"></div>
    </form>
</body>
</html>